.patient-list {
    width: 100%;
    padding: 20px;
  }
  
  .filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .filter-container input,
  .filter-container select {
    padding: 5px;
  }
  
  .table-container {
    max-height: 400px; 
    overflow-y: auto; 
  }
  

.all-patients-table{
    background-color: white;
    color: black;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border-collapse: collapse;
    width: 100%;
   

}

.all-patients-table th,
.all-patients-table td {
  padding: 3px;
  border: 1px solid #ddd;
}

.all-patients-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}


.service-card-register {
  background-color: #00adb5;
  color: #ffffff;
  padding: 0.2rem 1rem 0.2rem 1rem;
  width: fit-content;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  }

  .service-card-register:hover{
    background-color: white;
    color: black;
  }

  .register-filter-wrapper{
    display: flex;
    justify-content: space-between;
  }