/* Main Container */
.main-container {
  display: flex;
  height: 100vh; 
  /* border: 1px solid blue; */
}

/* Sidebar */
.side-bar {
  background-color: #222831;
  color: #EEEEEE;
  width: 17vw; 
  height: 100vh;
  overflow-y: auto;
}

/* Sidebar Items */
.sidebar-items {
  padding: 20px;
}

.sidebar-items p {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.sidebar-items ul {
  list-style: none;
  padding: 0;
}
.sidebar-items a{
  text-decoration: none;
  color: white;
}

.sidebar-items li {
  padding: 10px 0;
  border-bottom: 1px solid #393E46;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.sidebar-items li:hover {
  background-color: #00ADB5;
  color: #222831;
}

.sidebar-items li:last-child {
  border-bottom: none;
}

/* Main Section wrapper after the sidebar for the other dashboard options*/
.main-section {
  flex-grow: 1; 
  display: flex;
  width: max-content;
  overflow-y: auto;
  flex-direction: column;
  padding: 1rem; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 1rem; 
}

#hospitalName {
  padding-left: 1rem;
  font-weight: 600;
  font-size: 1.2rem;
}

.navbar-btn-section {
  display: flex;
  gap: 1rem;
}

/* Patient Count Card */
.patient-count-card {
  border: 1px solid gray;
  width: fit-content;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

#card-title {
  margin-right: 1rem;
  font-size: 1.1rem;
}

#registered-patients {
  font-weight: 800;
  font-size: 1.7rem;
}

/* Frequent Services */
.frequent-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.service-card {
  background-color: #00adb5;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.service-card:hover {
  background-color: white;
  color: black;
}

.service-card svg {
  font-size: 2em;
  margin-bottom: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .main-container {
      flex-direction: column;
  }

  .side-bar {
      width: 100%;
      height: auto;
      position: static;
  }

  .main-section {
      margin-left: 0;
      width: 100%;
  }

  .frequent-container {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .frequent-container {
      grid-template-columns: 1fr;
  }

  .patient-count-card, .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  #hospitalName {
      padding-left: 0;
      font-size: 1rem;
  }
}
